/* ExperienceItem Styles */

.ExperienceItem {
    display: flex;
    margin: 20px 0;
}


/* ExperienceCard Styles */

.Experience-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 330px;

    margin: 30px;

    background: white;
    border-radius: 35px;

    cursor: pointer;
}

.Experience-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 330px;
    height: 201px;

    background: white;
    border-radius: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Experience-img img {
    max-width: 270px;
    padding: 15px;
    height: auto;
}

.Experience-card h3 {
    color: #1340E1;
    margin-top: 5px;
    padding: 8px;

    font-weight: 600;
}

.Experience-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;

    margin: 10px;
    height: 50px;
}

.Experience-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.Experience-tag h4 {
    font-size: 15px;
    padding-left: 5px;
}


/* ExperienceModal Styles */

.Experience-text {
    color: #1340E1;
    display: flex;
    flex-direction: column;
}

.Experience-itemheader {
    font-size: 52px;
    font-weight: bold;
}

.Experience-itemrole {
    font-size: 32px;
    font-style: italic;

    margin-bottom: 30px;
    padding-bottom: 10px;

    border-bottom: 3px solid white;
}

.Experience-description {
    font-size: 18px;
    line-height: 22px;
}

.Experience-closebtn {
    width: 200px;
    align-self: center;
    border: none;

    padding: 10px;
    border-radius: 30px;

    background: #1340E1;
    color: white;

    cursor: pointer;
}

.Experience-closebtn:focus {
    outline: none;
}



@media screen and (max-width: 960px) {
    .Experience-header {
        font-size: 62px; 
    }

    .Experience-itemheader {
        font-size: 42px;
    }

    .Experience-itemrole {
        font-size: 22px;
    }

}

@media screen and (max-width: 768px) {

    .Experience-header {
        font-size: 42px; 
    }

    .Experience-itemheader {
        font-size: 32px;
    }

    .ExperienceItem {
        flex-direction: column;
    }

    .Experience-img img {
        max-width: 275px;
        padding: 25px;
    }

    .Experience-card {
        margin: 20px;
    }

    .Experience-text p {
        font-size: 16px;
    }

    
}