.ExperienceItem {
    display: flex;
    margin: 40px 0;
}


.Experience-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 318px;
    height: 201px;

    margin-left: 30px;
    margin-right: 90px;

    background: white;
    border-radius: 35px;
}

.Experience-text {
    color: #1340E1;
    display: flex;
    flex-direction: column;
}

.Experience-img img {
    max-width: 250px;
    padding: 15px;
    height: auto;
}

.Experience-itemheader {
    font-size: 52px;
    font-weight: bold;
}

.Experience-itemrole {
    font-size: 32px;
    font-style: italic;

    margin-bottom: 30px;
    padding-bottom: 10px;

    border-bottom: 3px solid white;
}

.Experience-closebtn {
    width: 200px;
    align-self: center;
    border: none;

    padding: 10px;
    border-radius: 30px;

    background: #1340E1;
    color: white;
}

@media screen and (max-width: 960px) {
    .Experience-header {
        font-size: 62px; 
    }

    .Experience-itemheader {
        font-size: 42px;
    }

    .Experience-itemrole {
        font-size: 22px;
    }

    .Experience-text p {
        font-size: 18px;
    }

    .Experience-img {
        margin-right: 60px;
    }

    .Experience-img img {
        max-width: 200px;
        padding: 15px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {

    .Experience-header {
        font-size: 42px; 
    }

    .Experience-itemheader {
        font-size: 32px;
    }

    .ExperienceItem {
        flex-direction: column;
    }

    .Experience-img {
        width: 90%;
        margin: auto;

        margin-bottom: 40px;
    }

    .Experience-img img {
        max-width: 275px;
        padding: 25px;
    }
}