.Skills {
    color: white;
    background-color: #1340E1;
    font-family: 'Raleway';
    font-size: 22px;

    padding: 10px;
    width: 100%;
}

.Skills-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1620px;
}

.Skills-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 10px;
}

.Skills-set {
    margin: 20px;

    min-width: 293px;
}

.Skills-header {
    font-size: 82px;
    margin-bottom: 30px;
    font-weight: bold;
}

.Skills-type {
    font-style: italic;

    align-self: end;

    border-bottom: 3px solid white;

    padding-bottom: 9px;

    font-size: 32px;
}

.Skills-list {
    list-style: none;
    font-weight: bold;
    line-height: 30px;
}



@media screen and (max-width: 960px) {
    .Skills-header {
        font-size: 62px;
    }

    .Skills-type {
        font-size: 25px;
    }

    .Skills-list {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    
    .Skills-header {
        font-size: 42px;
    }

}