.Skills {
    color: white;
    background-color: #1340E1;
    font-family: 'Raleway';
    font-size: 22px;

    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
}

.Skills-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.Skills-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
}

.Skills-header {
    font-size: 82px;
    margin-bottom: 30px;
    font-weight: bold;
}

.Skills-type {
    font-style: italic;

    align-self: end;

    border-bottom: 3px solid white;

    padding-bottom: 9px;

    font-size: 32px;

}

.Skills-list {
    list-style: none;
    font-weight: bold;
    line-height: 30px;
}



@media screen and (max-width: 960px) {
    .Skills-header {
        font-size: 62px;
    }

    .Skills-type {
        font-size: 22px;
    }

    .Skills-list {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    
    .Skills-header {
        font-size: 42px;
    }

}