.Skills {
    color: white;
    background-color: #1340E1;
    font-family: 'Raleway';
    font-size: 22px;

    padding: 10px;
}

.Skills-header {
    font-size: 82px;

    margin-bottom: 90px;
}

.Skills-type {
    font-style: italic;

    align-self: end;

    border-bottom: 3px solid white;

    padding-bottom: 9px;
}

.Skills-list {
    list-style: none;
}

.Skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    column-gap: 30px;
    row-gap: 20px;

    margin: 10px;
    max-width: 1500px;
}