.ExperienceContent {
    background-color: #1340E1;
    color: white;
    font-family: 'Raleway';
    font-size: 22px;
    line-height: 25px;
    
    display: block;
    overflow: auto;
    
    
    position: fixed;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 100%;
    
    padding: 40px;
}

.fa-times {
    display: block;
    position: fixed;
    right: 80px;
    top: 50px;
    cursor: pointer;
    transform: translate(60%, -20%);

    color: white;

    font-size: 2.8rem;
}

.ExperienceContent-title {
    font-size: 55px;
    font-weight: 600;

    margin-bottom: 10px;
}

.ExperienceContent-role, .ExperienceContent-date {
    font-size: 30px;
    font-style: italic;

    margin-bottom: 10px;
}

.ExperienceContent-date {
    font-size: 28px;
    font-style: italic;

    margin-bottom: 40px;
}

.ExperienceContent-explanation {
    font-size: 20px;
    margin-bottom: 30px;
}

.ExperienceContent-highlights {
    font-size: 20px;
}

@media screen and (max-width: 1060px) {
    .ExperienceContent {
        display: block;
        width: 100%;
        padding-top: 150px;
    }

    .fa-times {
        right: 80px;
        top: 165px;
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 768px) {
    .ExperienceContent-title {
        font-size: 45px;
    }

    .ExperienceContent-role {
        font-size: 25px;
    }

    .ExperienceContent-date {
        font-size: 23px;
    }

    .ExperienceContent-explanation, .ExperienceContent-highlights {
        font-size: 18px;
    }

    .fa-times {
        font-size: 2.0rem;
    }
}

/* 1060/768/450 */
