#ContactPage {
    content: " ";
    visibility: none;
    display: block;
    margin-top: -80px;
    padding-top: 80px;   
}

.Contact {
    background-color: #1340E1;
    color: white;
    font-family: 'Raleway';
    font-size: 22px;

    width: 100%;
}

.Contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    max-width: 1400px;
    margin-top: 20px;
    padding: 20px;
}

.Contact-header {
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    max-width: 1055px;
    margin: auto;
    margin-bottom: 20px;
}

.Contact-subheader {
    font-size: 42px;
    text-align: center;
    margin: 20px auto;
}

.Contact-icons {
    display: flex;
    padding: 10px;
    margin: auto;
}

#Contact-GitHub, #Contact-email, #Contact-linkedin {
    display: block;

    fill: white;
    width: 50px;
    height: auto;
    cursor: pointer;

    margin: 10px 50px;
}

#Contact-GitHub:hover, #Contact-email:hover, #Contact-linkedin:hover {
    fill: #0BB5EB;
}

.Contact-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;

    width: 60%;

    max-width: 650px;
    min-width: 300px;

    margin: 20px auto;
}

.Contact-input {
    margin: 20px;
    border: 3px solid #004078;
    padding: 10px;
    border-radius: 15px;

    font-size: 18px;
}

.Contact-input:focus {
    border: 3px solid #004078;
    border-radius: 15px;
    outline: none;

}

.Contact-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 18px;
    
}

.Contact-input::-moz-placeholder { /* Firefox 19+ */
    font-size: 18px;
}

.Contact-input:-ms-input-placeholder { /* IE 10+ */
    font-size: 18px;
}

.Contact-form input:-moz-placeholder { /* Firefox 18- */
    font-size: 18px;
}

#Contact-input-message {
    height: 400px;
    
    line-height: 1.2em;
    resize: vertical;
}


.Contact-submit {
    background-color: #004078;
    color: white;
    font-size: 25px;
    border-radius: 45px;

    padding: 10px 20px;
    min-width: 200px;
    max-width: 400px;

    align-self: stretch;
    margin: auto;

    cursor: pointer;

    -webkit-appearence: none;
    -moz-appearence: none;
    appearance: none;
}

.Contact-submit:focus {
    outline: none;
}

.Contact-submit-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 40px 0px;

    max-width: 2000px;
}

.Contact-success-icon {
    background-color: green;
    color: white;
    font-size: 25px;
    border-radius: 45px;

    padding: 10px 20px;
    min-width: 200px;
    max-width: 400px;

    align-self: stretch;
    margin: auto;
    text-align: center;

    margin-bottom: 40px;

    cursor: pointer;

    -webkit-appearence: none;
    -moz-appearence: none;
    appearance: none;
}

@media screen and (max-width: 960px) {
    .Contact-header {
        font-size: 52px; 
    }

    #Contact-GitHub, #Contact-email, #Contact-linkedin {
        width: 40px;
        height: auto;
    
        margin: 40px;
    }

    .Contact-subheader {
        font-size: 32px;
    }

    #Contact-input-message {
        height: 300px;
    }

}

@media screen and (max-width: 768px) {
    .Contact-header {
        font-size: 42px; 
    }

    #Contact-GitHub, #Contact-email, #Contact-linkedin {
        width: 30px;
        height: auto;
    
        margin: 20px;
    }

    .Contact-subheader {
        font-size: 32px;
    }

    #Contact-input-message {
        height: 200px;
    }
}