@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/* NavBar at top of page */
.NavBar {
    display: block;

    background-color: white;
    color: #1340E1;
    font-family: 'Open Sans';

    position: fixed;
    left: 0px;
    height: 100%;
    width: 30%;

    z-index: 99;

    transition: all 0.5s ease;
}

.NavBar-nameLogo {
    font-family: 'Bebas Neue';
    font-size: 52px;

    margin: 24px;

}

.NavBar-menuicon {
    display: none;
}

.fa-bars {
    color: #1340E1;
}

.NavBar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    font-family: 'Raleway';
    font-weight: 300;
}

.NavBar-list a {
    font-size: 32px;
    color: #1340E1;
    margin: 24px;
    list-style: none;
}

.NavBar-list a:hover {
    text-decoration: none;
    color: #14C9E1;
}

.NavBar.offset .NavBar-list a:hover {
    text-decoration: none;
    color: #14C9E1;
}

.NavBar.offset .NavBar-list.active a:hover {
    text-decoration: none;
    color: white;
}

/* NavBar offset from top of page */
.NavBar.offset {
    background-color: #1340E1;
    color: white;
    transition: all 0.5s ease;
}

.NavBar.offset .fa-bars {
    color: white;
}

.NavBar.offset a {
    color: white;
}




@media screen and (max-width: 1060px) {

    .NavBar {
        top: 0px;
        width: 100%;
        height: 100px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
 
    }

    .NavBar-menuicon {
        display: block;
        position: fixed;
        right: 20px;
        top: 32px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .NavBar-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        width: 100%;
        height: 100vh;
        opacity: 1;

        position: absolute;
        top: 80px;
        left: -100%;
        transition: all 0.5s ease;

    }
    
    .NavBar-list.active {
        position: absolute;
        top: 80px;
        left: 0;

        background: white;
        transition: all 0.3s ease;
    }

    .NavBar-list a {
        color: #1340E1;
        font-style: 'Open Sans';
        font-size: 25px;

        margin-left: 24px;
        margin-top: 20px;
        margin-bottom: 20px;

        padding-bottom: 10px;

        border-bottom: 3px solid #1340E1;
    }

    .NavBar.offset .NavBar-list.active {
        background-color: #1340E1;
    }
    
    .NavBar.offset .NavBar-list.active a {
        color: white;
        border-bottom: 3px solid white;
    }

    .NavBar-nameLogo {
        font-size: 42px;
    }
}

