.Experience-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 272px;
    height: 272px;

    margin: 30px;

    background: white;
    border-radius: 22px;

    cursor: pointer;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.Experience-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 272px;
    height: 175px;

    background: white;
    border-radius: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Experience-img img {
    max-width: 230px;
    padding: 15px;
    height: auto;
}

.Experience-role {
    color: #1340E1;
    margin-top: 5px;
    padding: 8px;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
}

.Experience-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;

    margin: 10px;
    height: 50px;
}

.Experience-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.Experience-tag h4 {
    font-size: 13px;
    padding-left: 5px;
    font-weight: 00;
}

a:hover {
    text-decoration: none;
}


@media screen and (max-width: 1060px) {
    .Experience-role {
        font-size: 18px;
    }

    .fa-circle {
        font-size: 15px;
    }

    .Experience-card {
        width: 252px;
        height: 252px;
    }

    .Experience-img {
        width: 252px;
    }
}


@media screen and (max-width: 768px) {
    .fa-circle {
        font-size: 13px;
    }
}



@media screen and (max-width: 450px) {
    .Experience-card {
        margin: 15px; 
    }
    
    .Experience-tag h4 {
        font-size: 13px;
    }

    .fa-circle {
        font-size: 13px;
    }

    .Experience-card {
        width: 310px;
        height: 250px;
    }

    .Experience-img {
        width: 310px;
        height: 260px;
    }

    .Experience-img img {
        max-width: 230px;
        padding: 8px;
        height: auto;
    }
}