#Intro {
    content: " ";
    visibility: none;
    display: block;
    margin-top: -80px;
    padding-top: 80px;
}

.Intro {
    font-family: 'Raleway';
    color: white;
    background: #1340E1;
    width: 100%;
    max-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
}

.Intro-text {
    text-align: center;
    margin: 20px;

    font-size: 65px;
}

.Intro-title {
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    font-size: 90px;
}

@media screen and (max-width: 960px) {
    .Intro-text {
        font-size: 45px;
    }
    
    .Intro-title {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .Intro-text {
        font-size: 25px;
    }

    .Intro-title {
        font-size: 5git 0px;
    }
}




