
.Intro {
    font-family: 'Raleway';
    color: white;
    background: #1340E1;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.Intro-text {
    text-align: center;
    margin: 20px;

    font-size: 65px;
}

.Intro-title {
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    font-size: 100px;
}

@media screen and (max-width: 960px) {
    .Intro-text {
        font-size: 45px;
    }
    
    .Intro-title {
        font-size: 80px;
    }
}

@media screen and (max-width: 768px) {
    .Intro-text {
        font-size: 25px;
    }

    .Intro-title {
        font-size: 60px;
    }
}




