#ExperiencePage {
    content: " ";
    visibility: none;
    display: block;
    margin-top: -80px;
    padding-top: 80px;   
}

.Experience {
    background: #1340E1;
    color: white;
    font-family: 'Raleway';
    font-size: 22px;

    width: 100%;
}

.Experience-container {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 20px;
    padding: 20px;
    max-width: 1400px;
}

.Experience-header {
    font-weight: bold;
    font-size: 82px;
    margin-bottom: 30px;
}

.Experience-Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

