.Experience {
    background: #1340E1;
    color: white;
    font-family: 'Raleway';

    flex-direction: column;
    font-size: 22px;

    padding: 10px;
}

.Experience-header {
    font-size: 82px;

    margin-bottom: 40px;
}

.Experience-block {
    display: flex;
    margin-bottom: 90px;
}

.Experience-block img {
    width: 318px;
    height: 201px;

    margin-left: 30px;
    margin-right: 90px;
    padding: 30px;

    background: white;
    border-radius: 35px;
}

.Experience-text {
}