.Experience {
    background: #1340E1;
    color: white;
    font-family: 'Raleway';
    font-size: 22px;

    position: fixed;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 100%;

    padding: 40px;

    overflow: scroll;

    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.Experience-Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1060px) {
    .Experience {
        display: block;
        width: 100%;
        padding-top: 150px;
    }
}

