#Experience {
    content: " ";
    visibility: none;
    display: block;
    margin-top: -80px;
    padding-top: 80px;   
}

.Experience {
    background: #1340E1;
    color: white;
    font-family: 'Raleway';
    font-size: 22px;

    width: 100%;
}

.Experience-container {
    display: flex;
    flex-direction: column;

    padding: 10px;

    margin: auto;
    max-width: 1620px;

}

.Experience-header {
    font-size: 82px;
    margin-bottom: 90px;
    font-weight: bold;
}

.Experience-block {
    display: flex;
    margin-bottom: 90px;
    margin: 20px;
    margin-bottom: 55px;
}

.Experience-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 318px;
    height: 201px;

    margin-left: 30px;
    margin-right: 90px;

    background: white;
    border-radius: 35px;

}

.Experience-img img {
    max-width: 250px;
    height: auto;
}

.Experience-itemheader {
    font-size: 62px;
    font-weight: bold;
}

.Experience-itemrole {
    font-size: 32px;
    font-style: italic;

    margin-bottom: 30px;
    padding-bottom: 10px;

    border-bottom: 3px solid white;
}

@media screen and (max-width: 960px) {
    .Experience-header {
        font-size: 62px; 
    }

    .Experience-itemheader {
        font-size: 42px;
    }

    .Experience-itemrole {
        font-size: 22px;
    }

    .Experience-text p {
        font-size: 18px;
    }

    .AboutMe p {
        font-size: 18px;
    }
    
    #AboutMe-headshot {
        height: 250px;
        width: auto;
    }

    #AboutMe-wall {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {

    .Experience-header {
        font-size: 62px; 
    }

    .Experience-block {
        flex-direction: column;
    }

    .Experience-img {
        width: 80%;
        margin: auto;

        margin-bottom: 40px;
    }
}

