/* WorkItem Styles */


.Work-block {
    display: flex;
    margin-bottom: 50px;
}


/* WorkCard Styles */

.Work-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 330px;

    margin: 30px;

    background: #1340E1;
    color: white;
    border-radius: 35px;

    cursor: pointer;
}


.Work-card img {
    width: 300px;
    height: 246px;

    align-self: center;
    justify-self: center;

    border-radius: 20px;

    margin-bottom: 40px;
    margin: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Work-card h3 {
    font-weight: 600;
}

.Work-card h4 {
    font-style: italic;
    margin: 5px;
}

.Work-tags {
    display: flex;
    flex-direction: column;
    margin: 20px;

    align-items: center;
}

.Work-tags span {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 5px;

    font-size: 18px;
}

.Work-tags i {
    align-self: center;
}

.Work-tags h5 {
    margin: 5px;
}

/* WorkModal Styles */
.WorkModal {
    display: flex;
    flex-direction: column;
}

.WorkModalContent {
    display: flex;
    margin: 10px;
    margin-bottom: 30px;
}

.Work-subheader {
    font-size: 42px;
    margin-bottom: 5px;
}

.Work-text h3 {
    font-size: 25px;
    font-style: italic;

    margin-bottom: 30px;
}


.Work-text {
    color: #1340E1;
    display: flex;
    flex-direction: column;

    line-height: 21px;
}



.WorkModal img {
    height: 200px;
    width: auto;

    margin: 20px;
}

.WorkModalFooter {
    display: flex;
    justify-content: center;
}

.WorkModalLearn, .Work-closebtn {
    width: 200px;
    align-self: center;
    border: none;

    padding: 10px;
    margin: 10px;
    border-radius: 30px;

    background: #1340E1;
    color: white;

    cursor: pointer;

    text-align: center;
}

.Work-closebtn:focus, .WorkModalLearn:focus {
    outline: none;
    text-decoration: none;
    color: white;
}

.WorkModalLearn {
    background-color: green;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .Work-block {
        flex-direction: column;
    }

    .Work-subheader {
        font-size: 25px;
    }

    .Work-block p {
        font-size: 18px;
    }

    .Work-card {
        margin: 20px;
    }

}

@media screen and (max-width: 768px) {
    .Work-block img {
        max-width: 275px;
    }

    .WorkModalContent {
        flex-direction: column;
    }

    .WorkModalContent img {
        width: 200px;
        height: 150px;
        justify-self: center;
        align-self: center;
    }
}



