#Work {
    content: " ";
    visibility: none;
    display: block;
    margin-top: -80px;
    padding-top: 80px;   
}

.Work {
    background-color: white;
    color: #1340E1;
    font-family: 'Raleway';
    font-size: 22px;

    margin: 20px auto;
    padding: 20px;
    width: 100%;
}

.Work-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.Work-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Work-header {
    font-size: 82px;
    font-weight: bold;
    margin-bottom: 30px;
}


@media screen and (max-width: 960px) {
    .Work-header {
        font-size: 62px;
    }
}

@media screen and (max-width: 768px) {
    .Work-blocks {
        row-gap: 10px;
    }

    .Work-header {
        font-size: 42px;
    }
}
