.Work {
    background: #1340E1;
    color: white;
    font-family: 'Raleway';
    font-size: 22px;

    position: fixed;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 100%;

    padding: 40px;

    overflow: scroll;

    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.Work-blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
    .Work-header {
        font-size: 62px;
    }
}

@media screen and (max-width: 768px) {
    .Work-blocks {
        row-gap: 10px;
    }

    .Work-header {
        font-size: 42px;
    }
}
