#Work {
    content: " ";
    visibility: none;
    display: block;
    margin-top: -80px;
    padding-top: 80px;   
}

.Work {
    background-color: white;
    color: #1340E1;
    font-family: 'Raleway';
    font-size: 22px;

    padding: 10px;
    width: 100%;
}

.Work-container {
    margin: 10px;
    max-width: 1620px;
    margin: auto;
}

.Work-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 750px));
    column-gap: 30px;
    row-gap: 50px;

    margin: 20px;

    justify-content: center;
}

.Work-header {
    font-size: 82px;
    font-weight: bold;

    margin: 20px;
}

.Work-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}

.Work-subheader {
    font-size: 42px;
    margin-bottom: 30px;
}

.Work-blocks img {
    width: 350px;
    height: auto;

    align-self: center;
    justify-self: center;

    margin-bottom: 40px;
    margin: 20px;
}

@media screen and (max-width: 960px) {
    .Work-header {
        font-size: 62px;
    }

    .Work-subheader {
        font-size: 25px;
    }

    .Work-block p {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {
    .Work-header {
        font-size: 42px;
    }
}
