#AboutMe {
    content: " ";
    visibility: none;
    display: block;
    margin-top: -80px;
    padding-top: 80px;
}

.AboutMe {
    color: #1340E1;
    font-family: 'Raleway';
    font-size: 22px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 65px;
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    max-width: 1400px;
}

.AboutMe-header {
    font-weight: bold;
    font-size: 82px;

    margin-bottom: 30px;
}

#AboutMe-headshot, #AboutMe-wall {
    height: 350px;
    width: auto;

    border-radius: 25px;

    justify-self: center;
    align-self: center;
}

.AboutMe-content {
    margin: 20px;
}

@media screen and (max-width: 1180px) {
    #AboutMe-headshot, #AboutMe-wall {
        height: 250px;
    }
}

@media screen and (max-width: 960px) {
    
    .AboutMe-header {
        font-size: 62px;
    }

    .AboutMe-content p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .AboutMe {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.5fr);
        row-gap: 30px;

        margin: auto;
        width: 100%;
    }

    .AboutMe-header {
        font-size: 42px;
    }
    
    #AboutMe-headshot, #AboutMe-wall {
        height: 175px;
        width: auto;
    }
}









