.AboutMe {
    color: #1340E1;
    font-family: 'Raleway';
    font-size: 22px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 65px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;

    max-width: 1620px;
}

.AboutMe-header {
    font-weight: bold;
    font-size: 82px;

    margin-bottom: 30px;
}

.AboutMe-image {
    justify-self: center;
    border-radius: 25px;
}

#AboutMe-headshot {
    height: 350px;
    width: auto;

    align-self: center;
    grid-area: 'Headshot';
}

#AboutMe-wall {
    height: 400px;
    width: auto;

    margin-bottom: 90px;
    grid-area: 'Wall';
}

.AboutMe-favorites {
    justify-self: center;
    grid-area: 'FavoritesSection';
}

.AboutMe-intro {
    grid-area: 'IntroSection';
    margin: 20px;
}



@media screen and (max-width: 960px) {
    
    .AboutMe-header {
        font-size: 62px;
    }

    .AboutMe p {
        font-size: 18px;
    }
    
    #AboutMe-headshot {
        height: 250px;
        width: auto;
    }

    #AboutMe-wall {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .AboutMe {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.5fr);
        row-gap: 30px;

        margin: auto;
        width: 100%;
    }

    .AboutMe-header {
        font-size: 42px;
    }
    
    #AboutMe-headshot {
        height: 150px;
        width: auto;
    }

    #AboutMe-wall {
        height: 200px;
        width: auto;

        margin-bottom: 20px;
    }
}









